@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

:root {
    --bg-color: #222222;
    --second-bg-color: #333333;
    --text-color: #f5f5f5;
    --main-color: #ff8800;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    display: flex;
    align-items: center;
    background-color: #333333;
    height: 60px;
    padding: 0 20px;
}
.navbar-title strong{
    margin-left: 50px;
}
.navbar-title span {
    color: #ff8800; 
    
}
.navbar-title {
    font-size: 24px;
    margin-right: auto;
}

.navbar-button {
    display: inline-block;
    padding: 5px 10px;
    background-color: #ff8800;
    color:  #333333;
    font-size: 15px;
    text-decoration: none;
    border-radius: 4px;
    font-weight: bold;
    border: .2rem solid var(--main-color);
    transition: all .5s;
}
.navbar-button:hover{
    color: #ff8800;
    background-color: var(--second-bg-color);
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    transition: 0.3s;
}

.portfolio-box {
    max-width: 1200px;
    margin: 2rem auto;
    padding: 1.5rem;
    background-color: #333333;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 2rem; 
}

.portfolio-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, auto));
    align-items: center;
    gap: 2.5rem;
    margin-top: 5rem;
}

.row {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    cursor: pointer;
    margin: 1rem;
    height: 250px; /* Set a fixed height for the image box */
  }
  
  .row img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensure the image fills the container */
    object-position: center; 
    transition: all .5s;/* Center the image within the container */
  }

.layer {
    width: 100%;
    height: 0;
    background: var(--main-color);
    opacity: .9;
    position: absolute;
    border-radius: 8px;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 40px;
    transition: height 0.5s;
    z-index: 98;
}

.layer h5 {
    font-size: 20px;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 20px;
    z-index: 100;
    opacity: 1;
}

.layer p {
    color: var(--second-color);
    font-size: 1rem;
    line-height: 1.8;
}

.layer i {
    color: var(--main-color);
    margin-top: 20px;
    font-size: 40px;
    background: var(--text-color);
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    
}

.row:hover img {
    transform: scale(1.1);
}

.row:hover .layer {
    height: 100%;
}

.content {
    background: var(--second-bg-color);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2.5rem;
}

.dark{
    color: var(--bg-color);
}

@media screen and (min-width: 301px) and (max-width: 400px) {
    /* Styles for screens with a width between 301px and 400px */
    .portfolio-content {
      grid-template-columns: repeat(1, 1fr);
    }
    
    .row {
      height: 200px;
    }
    
    .row img {
      object-fit: cover;
    }
    
    .layer h5 {
      font-size: 16px;
    }
    
    .layer p {
      font-size: 12px;
    }
    
    .navbar-button {
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }
  
  @media screen and (min-width: 401px) and (max-width: 500px) {
    /* Styles for screens with a width between 401px and 500px */
    .portfolio-content {
      grid-template-columns: repeat(1, 1fr);
    }
    
    .row {
      height: 250px;
    }
    
    .row img {
      object-fit: cover;
    }
    
    .layer h5 {
      font-size: 18px;
    }
    
    .layer p {
      font-size: 14px;
    }
    
    .navbar-button {
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }
  
  @media screen and (min-width: 501px) and (max-width: 600px) {
    /* Styles for screens with a width between 501px and 600px */
    .portfolio-content {
      grid-template-columns: repeat(3, 1fr);
    }
    
    .row {
      height: 300px;
    }
    
    .row img {
      object-fit: cover;
    }
    
    .layer h5 {
      font-size: 20px;
    }
    
    .layer p {
      font-size: 16px;
    }
    
    .navbar-button {
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }
  
  @media screen and (min-width: 601px) and (max-width: 800px) {
    /* Styles for screens with a width between 601px and 800px */
    .portfolio-content {
      grid-template-columns: repeat(3, 1fr);
    }
    
    .row {
      height: 350px;
    }
    
    .row img {
      object-fit: cover;
    }
    
    .layer h5 {
      font-size: 24px;
    }
    
    .layer p {
      font-size: 18px;
    }
    
    .navbar-button {
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }
  
  @media screen and (min-width: 801px) and (max-width: 1000px) {
    /* Styles for screens with a width between 801px and 1000px */
    .portfolio-content {
      grid-template-columns: repeat(2, 1fr);
    }
    
    .row {
      height: 350px;
    }
    
    .row img {
      object-fit: cover;
    }
    
    .layer h5 {
      font-size: 24px;
    }
    
    .layer p {
      font-size: 18px;
    }
    
    .navbar-button {
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }
  
  @media screen and (min-width: 1001px) and (max-width: 1200px) {
    /* Styles for screens with a width between 1001px and 1200px */
    .portfolio-content {
      grid-template-columns: repeat(5, 1fr);
    }
    
    .row {
      height: 400px;
    }
    
    .row img {
      object-fit: cover;
    }
    
    .layer h5 {
      font-size: 24px;
    }
    
    .layer p {
      font-size: 18px;
    }
    
    .navbar-button {
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }
  